.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  bottom: 1rem;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 10px 20px;
}

.navbar-logo {
  font-size: 1.5rem;
  margin: 0;
}

.navbar-links {
  display: flex;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #ffcc00; /* Change color on hover */
}

.mapboxgl-ctrl-geocoder--input {
  font-size: 300px;
}
